<h2>Teoria:</h2>
<form action="/" method="POST">
    <input type="number" name="suspeito" placeholder="suspeito">
    <input type="number" name="local" placeholder="local">
    <input type="number" name="arma" placeholder="arma">
    <input type="submit" value="chutar">
</form>